<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ApplicationOne.Tests.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <specFlow>
    <unitTestProvider name="mstest"/>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <ApplicationOne.Tests.Properties.Settings>
      <setting name="ApplicationOneDirectory" serializeAs="String">
        <value>..\..\..\ApplicationOne\bin\Debug\ApplicationOne.exe</value>
      </setting>
      <setting name="ApplicationTwoDirectory" serializeAs="String">
        <value>..\..\..\ApplicationTwo\bin\Debug\ApplicationTwo.exe</value>
      </setting>
    </ApplicationOne.Tests.Properties.Settings>
  </userSettings>
</configuration>